@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap');
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #555248;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 64px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        cursor: pointer;
    }
    border: none;
    &_black {
        background-color: #444240;
        &:hover {
            background-color: #000000;
        }
    }
    &_orange {
        background-color: #D4B098;
        &:hover {
            background-color: #d6966c;
        }
    }
}

.line {
    width: 50px;
    height: 0px;
    border-top: 1px solid #8B8371;
    &_w30 {
        width: 30px;
    }
}

.title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
}





@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/popular';
@import 'blocks/quality';
@import 'blocks/social';
@import 'blocks/footer';
@import 'blocks/media';