.social {
    padding: 82px 0px 90px 0px;
    &__wrapper {
        height: 460px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-top: 140px;
    }
    &__text {
        width: 375px;
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #444240;
    }
    &__icons {
        margin-top: 118px;  
    }
    &__icon {
        margin-right: 18px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__images {
        display: grid;
        grid-template-columns: 242px 377px;
        grid-template-rows: 228px 228px;
        gap: 10px;
    }
}